header {
  color: rebeccapurple;
  font-size: 36px;
}

html {
  margin: 0 auto;
  background-color: lightgrey;
}

div,
p {
  margin: 20px;
}

#dialogue {
  font-size: 24px;
}

#container {
  float: left;
}
